@font-face {
  font-family: "hyperoxide";
  src: url(../assets/fonts/hyper_oxide-webfont.woff2) format(woff2),
       url(../assets/fonts/hyper_oxide-webfont.woff) format(woff);
  font-weight: normal;
}

@font-face {
  font-family: "my-android";
  src: url(../assets/fonts/android_7-webfont.woff2) format(woff2),
       url(../assets/fonts/android_7-webfont.woff) format(woff);
  font-weight: normal;
}

:root {
  --light-blue: #62c2f9;
  --input-bg: #dde7eb;
  --white-text: #FFF;
  --black-text: #000;
  --font: "my-android", Arial, Helvetica, sans-serif;
}

/* page layout */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px 1fr;
  font-family: var(--font);
}

body > div {
  background-color: blanchedalmond;
}

div.sidebar {
  grid-row: 1 / -1;
}

div.header {
  grid-column: 2 / -1;
}

div.main {
  grid-row: 2 / -1;
}

/* sidebar layout */
div.sidebar {
  color: var(--white-text);
  background: var(--light-blue);
  padding: 20px;
  display: grid;
  gap: 2rem;
  align-content: start;
  font-family: var(--font);
}

/* dashboard layout */
.dashboard-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1rem;
}

.dashboard-container > div:last-child {
  font-size: 1.5rem;
}

.img-dash {
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
}

/* options and settings layout */
ul {
  list-style: none;
  padding: 0;
}

ul > li {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  align-items: center;
  padding-bottom: .5rem;
  font-size: 1.2rem;
}

.img-option,
.img-setting {
  background-color: #FFF;
  width: 1.5rem;
  height: 1.5rem;
}

/* header layout */
div.header {
  background-color: var(--white-text);
  font-weight: bold;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

div.header .top-header {
  display: grid;
  grid-template-columns: min-content 1fr repeat(2, min-content) max-content;
  align-items: center;
  padding-right: 10%;
  padding-left: 1rem;
}

.magnifier,
.bell,
.top-header .user-profile {
  width: 2rem;
  height: 2rem;
  background-color: var(--input-bg);
  margin: 0 1rem;
  border-radius: 50%;
}

input {
  width: 90%;
  border: none;
  background: var(--input-bg);
  border-radius: 10px;
  height: 2rem;
}

.bottom-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.user-profile-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding-left: 1.5rem;
  align-items: center;
  gap: 2rem;
}

.user-message {
  font-size: 1.5rem;
}

.user-message p:first-child {
  font-size: 1rem;
}

.bottom-header .user-profile {
  width: 5rem;
  height: 5rem;
  background: var(--input-bg);
  border-radius: 50%;
}

.buttons-container {
  justify-self: end;
  padding-right: 20%;
}

button {
  width: 7rem;
  margin: 0 10px;
  height: 2.5rem;
  background-color: var(--light-blue);
  border: none;
  border-radius: 20px;
  color: var(--white-text);
}

button:hover {
  cursor: pointer;
  outline: 2px solid black;
  color: var(--light-blue);
  background: var(--white-text);
}

/* main content layout */
div.main {
  background: var(--input-bg);
  box-shadow: inset 0px 5px 10px -5px #000000;
}