:root {
  --light-blue: #30a2e4c6;
  --white-text: #FFF;
  --black-text: #000;
  --font: Arial, Helvetica, sans-serif;
}

/* page layout */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px 1fr;
  font-family: var(--font);
}

body > div {
  background-color: blanchedalmond;
}

div.sidebar {
  grid-row: 1 / -1;
}

div.header {
  grid-column: 2 / -1;
}

div.main {
  grid-row: 2 / -1;
}

/* sidebar layout */
div.sidebar {
  color: var(--white-text);
  background: var(--light-blue);
  padding: 15px;
  display: grid;
  gap: 3rem;
  align-content: start;
  font-weight: bold;
}