@font-face {
  font-family: "hyperoxide";
  src: url(../assets/fonts/hyper_oxide-webfont.woff2) format(woff2),
       url(../assets/fonts/hyper_oxide-webfont.woff) format(woff);
  font-weight: normal;
}

:root {
  --light-blue: #30a2e4c6;
  --white-text: #FFF;
  --black-text: #000;
  --font: Arial, Helvetica, sans-serif;
}

/* page layout */
body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 200px 1fr;
  font-family: var(--font);
}

body > div {
  background-color: blanchedalmond;
}

div.sidebar {
  grid-row: 1 / -1;
}

div.header {
  grid-column: 2 / -1;
}

div.main {
  grid-row: 2 / -1;
}

/* sidebar layout */
div.sidebar {
  color: var(--white-text);
  background: var(--light-blue);
  padding: 20px;
  display: grid;
  gap: 2rem;
  align-content: start;
  font-family: "hyperoxide", Arial, Helvetica, sans-serif;;
}

/* dashboard layout */
.dashboard-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 1rem;
}

.dashboard-container > div:last-child {
  font-size: 1.5rem;
}

.img-dash {
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
}

/* options and settings layout */
ul {
  list-style: none;
  padding: 0;
}

ul > li {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  align-items: center;
  padding-bottom: .5rem;
  font-size: 1.2rem;
}

.img-option,
.img-setting {
  background-color: #FFF;
  width: 1.5rem;
  height: 1.5rem;
}